---
const newsItems = [
  {
    num: 1,
    title: 'Simplicity<br/>is complex',
    category: 'Beauty / Fashion',
    date: 'Wednesday, June 20, 2018',
    excerpt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec scelerisque nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum libero nec erat pulvinar, sed sollicitudin ex consectetur.',
  },
  {
    num: 2,
    title: 'Design<br/>is a process',
    category: 'People / Life',
    date: 'Thursday, June 21, 2018',
    excerpt: 'Morbi hendrerit orci aliquet augue eleifend, ac gravida turpis rutrum. Suspendisse suscipit dui eu lorem pharetra egestas. Nunc nec eleifend libero.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum libero nec erat pulvinar, sed sollicitudin ex consectetur.',
  },
  {
    num: 3,
    title: 'Aesthetic<br/>is a decision',
    category: 'Royalty / Stock',
    date: 'Friday, June 22, 2018',
    excerpt: 'Suspendisse sit amet imperdiet sem. Vivamus sit amet lorem interdum, aliquet metus quis, fermentum velit. Phasellus ullamcorper, ante ac semper congue.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum libero nec erat pulvinar, sed sollicitudin ex consectetur.',
  },
  {
    num: 4,
    title: 'Style<br/>is everything',
    category: 'Culture / Travel',
    date: 'Saturday, June 23, 2018',
    excerpt: 'In nibh nisi, blandit eget accumsan et, lobortis ac tellus. Vestibulum feugiat tellus a turpis consectetur pretium. Donec et ante odio. Vestibulum eu accumsan nisl.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum libero nec erat pulvinar, sed sollicitudin ex consectetur.',
  },
];
---
<div class="section relative overflow-hidden bg-black" id="news">
  <div class="section-title-vertical right-side"><span>News</span></div>

  <!-- news carousel -->
  <div class="news-page-img-wrapper relative w-screen h-screen !p-0 !m-0 lg:w-full">
    <div class="swiper news-swiper w-full h-full">
      <div class="swiper-wrapper">
        {newsItems.map((item) => (
          <div class="swiper-slide">
            <div
              class="relative w-full h-screen bg-cover bg-center bg-no-repeat overlay overlay-inverse-dark-35"
              style={`background-image: url('/img/news/news-page-img-carousel-item-${item.num}.jpg')`}
            >
              <div class="news-page-img-carousel-wrapper relative bg-transparent h-screen">
                <div class="news-page-img-carousel-text absolute w-full text-center text-white text-[14px] font-medium tracking-wide bottom-[50px] px-[60px] z-10 -left-[10px] lg:left-0 lg:text-[13px] lg:px-[50px]">
                  <div>
                    <h4 class="font-oswald text-[35px] font-normal uppercase tracking-wide text-white leading-[1.25] pb-[10px] -mb-[5px] [text-shadow:1px_1px_2px_#111] lg:text-[18px] lg:leading-[1.5] lg:pb-[3px] lg:mb-0" set:html={item.title}></h4>
                  </div>
                  <div class="text-[10px] font-bold uppercase tracking-wide [text-shadow:1px_1px_2px_#111]">{item.category}</div>
                  <div class="news-page-img-carousel-content">
                    <div class="mt-[42px]"></div>
                    <p>{item.excerpt}</p>
                    <div class="mt-[25px]">
                      <a class="c-btn c-btn-news inverse" data-id={`news-more-${item.num}`}><span>Read more</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <!-- news panels -->
  {newsItems.map((item) => (
    <>
      <div
        class={`news-more-${item.num} panel-left panel-left-bg-all overlay overlay-inverse-dark-35`}
        style={`background-image: url('/img/news/news-page-img-carousel-item-${item.num}.jpg')`}
      ></div>
      <div class={`news-more-${item.num} panel-right`}>
        <div class="center-container">
          <div class="center-block">
            <div class="w-full">
              <div class="news-content">
                <div class="news-content-inner">
                  <div class="height-correction">
                    <div class="text-left lg:text-center">
                      <h4 class="font-oswald text-[35px] font-normal uppercase tracking-wide text-[#111] leading-[1.25] pb-[35px] -ml-[2px] lg:text-[18px] lg:text-center lg:leading-[1.5] lg:pb-[17px] lg:ml-0" set:html={item.title}></h4>
                    </div>
                    <div class="text-left text-[10px] uppercase font-bold pb-[37px] -mt-[30px] text-[#111] lg:text-center lg:pb-0 lg:-mt-[14px]">
                      {item.category} <span class="block italic font-bold pt-[7px] text-[#5f5f5f] lg:pt-[5px]">{item.date}</span>
                    </div>
                    <div class="news-text-txt">
                      <p>{item.content}</p>
                    </div>
                    <div class="text-spacer">
                      <a class="c-btn inverse-dark" href="javascript:void(0)"><span>Close</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </>
  ))}
</div>
